/* 
=====================
Site-wide
=====================
*/

* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-family: "Asap", Helvetica, Arial, sans-serif;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  height: 20vh;
}

footer {
  height: 10vh;
}

header,
footer,
nav,
aside {
  padding: 1em;
}

/* 
=====================
Header, Footer
=====================
*/

#logo {
  width: 250px;
  height: 65px;
}

#logo > img {
  width: 100%;
  height: auto;
}

#nav > ul,
#footer-links > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav > ul > li,
a,
#footer-links > ul > li,
a {
  padding: 6px;
  display: inline;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

#nav > ul > li > a:hover,
#footer-links > ul > li > a:hover,
#social > a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
}

/* 
=====================
Masthead
=====================
*/

#mast {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

#intro {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2em;
}

#explore {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 2px;
  /* background: #494b53; */
  /* color: white; */
  border-top: 2px dashed #494b53;
  border-bottom: 2px dashed #494b53;
}

#explore-head {
  padding: 0 1em;
  font-size: 2em;
}

#tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding-bottom: 12px;
}

.tile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  width: 300px;
  padding: 6px;
}

.tile-button {
  margin: 2px 2px;
  background-color: rgb(50, 170, 25);
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.tile-button:hover {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

/* 
=====================
Main Content
=====================
*/

#main {
  display: flex;
  flex: 1;
}

#main > article {
  flex: 1;
}

#main > nav,
#main > aside {
  flex: 0 0 20vw;
  background: beige;
}

#main > nav {
  order: -1;
}

/* 
=====================
Mapbox
=====================
*/

#mapid {
  height: 400px;
  width: 100%;
}

#mapid-head {
  padding: 0 1em;
  font-size: 2em;
}

.leaflet-popup-content > h1 {
  color: rgb(50, 170, 25);
}

.leaflet-popup-content > a > button {
  width: 100%;
  padding: 10px;
  background: rgb(50, 170, 25);
  color: white;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}

.leaflet-popup-content > a > button:hover {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

/* 
=====================
Media Queries
=====================
*/

@media screen and (max-width: 815px) {
  .tiles {
    flex-direction: column;
  }
}

@media screen and (max-width: 455px) {
  header,
  footer {
    flex-direction: column;
  }
}
